<%= form_for(@mood_form) do |f| %>
  <% if @mood_form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mood_form.errors.count, "error") %> prohibited this mood_form from being saved:</h2>

      <ul>
      <% @mood_form.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    
    <%= f.collection_radio_buttons :mood, [
            [ 1 , 'Great'],
            [ 2 , 'Good'],
            [ 3 , 'Meh'],
            [ 4 , 'Down'],
            [ 5, 'Depressed']],  :first, :last  %>
  
  </div>
  <div class="field">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="field">
    <%= f.label :panic %><br>
    <%= f.check_box :panic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
